.view {
  display: block;
  width: 720px;
  margin: 4rem auto 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.hbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 400px;
  margin: 4rem auto 2rem;
}

.textLabel {
  display: block;
  color: #369;
  font-size: small;
}

.textValue {
  display: block;
  font-size: 1.2em;
}

.areaLabel {
  display: block;
  color: #369;
  font-size: small;
}

.areaValue {
  display: block;
  font-size: 1.2em;
}



@media (max-width: 768px){
  .view { width: 100%; border: none; }
  .viewImage { width: 100%; max-width: 100%; height: auto; }
  .cbar { width: 100%; }
}