.wrap {
  width: 1330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

.wrapc {
  width: 1330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

.page { display: block; width: 100%; /*border: 1px solid pink;*/ }
.appname { font-size: 300%; }
.login { margin-top: 10px; text-align: right; }
.hero { display: flex; flex-direction: row; justify-content: space-between; width: 100%; height: 800px; background: url(/media/backg.png) top center no-repeat; }
.heroLeft  { }
.heroRight { }
.hero h1 { padding-top: 200px; font-size: 2.5em; }
.hero h2 { padding-top: 20px; font-size: 2em; }
.pics { display: flex; flex-direction: row; justify-content: space-between; width: 630px; }
.pics img { border-radius: 20px; width: 200px; }
.caption {margin-top: 50px; }
.panel { display: block; width: 1330px; max-width: 1330px; margin: 0; overflow-x: scroll; }
.cards { display: flex; flex-direction: row;  }
.card { display: flex; flex-direction: column; width: 250px; margin: 10px; }
.card:first-child { margin-left: 0; }
.card:last-child { margin-right: 0; }
.card img { width: 250px; }
.card h1  { font-size: 120%; font-weight: bold; }
.card p   { height: 1rem; max-height: 1rem; margin: 0 0 10px; font-size: 90%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.card goal { font-weight: bold; /*color: #b56576;*/ }
.card fund { margin-bottom: 10px; font-size: 90%; }
.message { display: block; margin-top: 1rem; width: 100%; color: #333; text-align: center; }



.start {
  display: inline-block;
  margin: 40px 0 10px;
  padding: 20px 30px;
  background-color: #DC4492;
  color: #FFF !important;
  border: 1px solid #FFF;
  border-radius: 200px;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer; 
}

.funding {
  width: 100%;
  align-items: center;
}

.funding h1 {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

.fundButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.fundButtons button {
  width: 100%;
}

.fundButtons button small {
  font-size: xx-small;
}

.title { margin: 50px 0; text-align: center; }

.submit { display: block; width: 300px; margin: 2rem auto 0; cursor: pointer; }
.submit[disabled] { background-color: #ddd; border-color: #ccc; color: #666; pointer-events: none; }

.donors {
  width: 100%;
  margin-top: 4px;
  border-collapse: collapse;
}

.donors th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.donors td {
  padding: 2px 10px;
}